*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flexbox;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    size: 600;
}

.container {
    width: auto;
}

.container {
@media screen (min-width:720px){    
}}

.container-fluid {
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
  }

  footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(47, 117, 167);
  color: white;
}
